
body{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

h1{
    display: flex;
    outline: dashed 1px;
   
    justify-content: start;
    margin-left: 10%;

}

h2{
    outline: dashed 1px;
    width: 638px;
}

.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}      

.list{
    width: 900px;
    outline: dashed 1px;
}

li{
    display: flex;
   
}

.listText{
    display: flex;
    flex-direction: column;
}

.checkbox{
    width: 23px;
    height: 23px;
    align-self: center;
}

.book {
    font-weight: bold;
    font-size: 23px;
    padding-bottom: 2px;
    /* Další styly pro název knihy */
}



.author {
    font-style: italic;
    font-size: 21px;
}

@media (min-width: 640px) {
    
}