body {
  background-color: rgb(32, 32, 32);
  font: 19px "system-ui";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
}
body .header1 {
  width: 638px;
  margin-top: 20px;
}
body .header1 h1 {
  font-size: 23px;
  margin: 0px;
  margin-left: 10px;
}
body h2 {
  width: 638px;
  margin-top: 35px;
  margin-bottom: 5px;
  font-size: 17px;
}
body input[type=checkbox] {
  display: flex;
  align-self: center;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 15px;
  width: 15px;
  background-color: rgb(36, 36, 36);
  border: 1px solid;
  border-color: rgb(152, 152, 152);
  border-radius: 4px;
}
body input[type=checkbox]:checked {
  background-color: rgb(152, 152, 152);
}
body input[type=checkbox]::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
  width: 3px;
  height: 7px;
  border: 2px solid transparent;
  border-left: none;
  border-top: none;
  transform: rotate(45deg) scale(1);
}
body input[type=checkbox]:checked:before {
  border-color: rgb(44, 44, 44);
  animation: checkAnim 0.2s ease;
}
@keyframes checkAnim {
  from {
    transform: rotate(45deg) scale(0);
  }
}

.list {
  width: 638px;
  background-color: rgb(43, 43, 43);
  border-radius: 5px;
}

ul {
  margin: 0;
  padding: 10px;
  padding-left: 15px;
}

li {
  display: flex;
  flex-direction: row;
  padding-block: 5px;
}

.listText {
  display: flex;
  flex-direction: column;
  margin-left: 7px;
}
.listText .book {
  font-size: 15px;
}
.listText .author {
  margin-top: 2px;
  color: rgb(152, 152, 152);
  font-size: 13px;
}

#alert {
  width: 638px;
  margin-top: 7px;
  border-radius: 5px;
  background-color: rgb(57, 61, 27);
  font-size: 15px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
#alert #alertText {
  margin-block: 12px;
  margin-right: 12px;
}
#alert #alertIcon {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
#alert .dot {
  margin-inline: 15px;
  height: 16px;
  width: 16px;
  background-color: rgb(108, 203, 95);
  border-radius: 50%;
  display: inline-block;
}
#alert .dot::after {
  content: "i";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: rgb(57, 61, 27);
  position: absolute;
  left: 22px;
  top: 2px;
  width: 5px;
  height: 5px;
  display: block;
}
#alert .dot::before {
  content: "";
  position: absolute;
  left: 21px;
  top: 3px;
  width: 3px;
  height: 7px;
  border: 1px solid;
  border-color: rgb(57, 61, 27);
  border-left: none;
  border-top: none;
  transform: rotate(45deg) scale(1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px rgb(36, 36, 36);
}

.inputdiv {
  width: 638px;
  margin-top: 7px;
  margin-bottom: 20px;
  padding-block: 15px;
  background-color: rgb(43, 43, 43);
  border-radius: 5px;
}
.inputdiv .otp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
}
.inputdiv .otp #otpButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 154px;
  border-radius: 4px;
  margin-right: 15px;
  background-color: rgb(70, 70, 70);
  color: white;
  border: 1px solid rgb(43, 43, 43);
}
.inputdiv .otp #otpButton:hover {
  background-color: rgb(98, 98, 98);
}
.inputdiv .otp #otpButton:active {
  background-color: rgb(55, 55, 55);
}
.inputdiv .otp #email {
  display: flex;
  align-items: center;
  padding: 2px;
  padding-left: 7px;
  border: 1px solid;
  border-color: rgb(78, 78, 78);
  border-radius: 3px;
  background-color: rgb(36, 36, 36);
  color: white;
  height: 22px;
}
.inputdiv .otp #email::-moz-placeholder {
  color: rgb(218, 218, 218);
}
.inputdiv .otp #email::placeholder {
  color: rgb(218, 218, 218);
}
.inputdiv .data {
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
}
.inputdiv .data #submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 154px;
  border-radius: 4px;
  margin-right: 15px;
  background-color: rgb(70, 70, 70);
  color: white;
  border: 1px solid rgb(43, 43, 43);
  margin-top: 15px;
}
.inputdiv .data #submitButton:hover {
  background-color: rgb(98, 98, 98);
}
.inputdiv .data #submitButton:active {
  background-color: rgb(55, 55, 55);
}
.inputdiv .data #otpinput {
  display: flex;
  align-items: center;
  padding: 2px;
  padding-left: 7px;
  border: 1px solid;
  border-color: rgb(78, 78, 78);
  border-radius: 3px;
  background-color: rgb(36, 36, 36);
  color: white;
  margin-top: 15px;
  height: 22px;
}
.inputdiv .data #otpinput::-moz-placeholder {
  color: rgb(218, 218, 218);
}
.inputdiv .data #otpinput::placeholder {
  color: rgb(218, 218, 218);
}/*# sourceMappingURL=style.css.map */