$backroundColor:rgb(32, 32, 32);
$foregroundColor:rgb(43, 43, 43);
$checkboxColor:rgb(150, 146, 142);

$with: 638px;
$radius: 5px;

body{
    background-color: $backroundColor;
    font:  19px "system-ui";
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: rgb(255, 255, 255);
    .header1{

        width: $with;
        margin-top: 20px;

        h1{
            font-size: 23px;
            margin: 0px;
            margin-left: 10px;
        }
        
    }
    
    h2{
        width: $with;
        margin-top: 35px;
        margin-bottom: 5px;
        font-size: 17px;
    }

    input[type = "checkbox"]{
        display: flex;
        align-self: center;
        position: relative;
        appearance: none;
        height: 15px;
        width: 15px;
        background-color:rgb(44, 44, 44);
        border: 1px solid;
        border-color: rgb(152, 152, 152);
        border-radius: 4px;
    }
    
    input[type = "checkbox"]:checked{
        background-color: rgb(152, 152, 152);
    }

    input[type = "checkbox"]::before{
        content: '';
        position: absolute;
        left: 4px;
        top:  1px;
        width: 3px;
        height: 7px;
        border: 2px solid transparent;
        border-left: none;
        border-top: none;
        transform: rotate(45deg) scale(1);
    }

    input[type = "checkbox"]:checked:before{
       border-color:rgb(44, 44, 44);
       animation: checkAnim .2s ease;
    }
    @keyframes checkAnim{
        from{
            transform: rotate(45deg) scale(0);
        }
    }
}


.list{
    width: $with;
    background-color: $foregroundColor;
    border-radius: $radius;
}

ul{
    margin: 0;
    padding: 10px;
    padding-left: 15px;
}

li{
    display: flex;
    flex-direction: row;
    padding-block: 5px;
}


.listText{
    display: flex;
    flex-direction: column;
    margin-left: 7px;
 
    
    
    .book {
       
        font-size: 15px;
    }
    
    
    .author {
        margin-top: 2px;
        color: rgb(152, 152, 152);
        font-size: 13px;
    }
    
}

   

.inputdiv{
    width: $with;
    margin-top: 7px;
    margin-bottom: 20px;
    padding-block: 15px;
    background-color: $foregroundColor;
    border-radius: $radius;
    
    .otp{
     margin-left: 15px;
    }


    .data{
       margin-left: 15px;
    }
}
